<% include partials/header.ejs %>
<% include partials/logoutnav.ejs %>

<main role="main">

    <!-- Jumbotron -->
   <section class="jumbotron pb-0">
            <h1 class="display-4">Profile</h1><hr>
    </section>
    <!-- End Jumbotron -->

    <!-- Cards -->
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-10">
                <div class="card" id="info">
                    <div class="card-body">
                        <h1 class="card-title mt-2">Account Info</h1>
                        <p class="card-text">This is my info</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 justify-content-center">
            <div class="col-10">
                <div class="card" id="saved">
                    <div class="card-body">
                        <h1 class="card-title mt-2">Saved Beers</h1>
                        <p class="card-text">Beers</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Container -->

</main>

<% include partials/footer.ejs %>
