<% include partials/header.ejs %>
<% include partials/logoutnav.ejs %>


<main role="main">

	<!-- Jumbotron -->
   <section class="jumbotron pb-0">
        	<h1 class="display-4">Master List</h1><hr>
   	</section>
   	<!-- End Jumbotron -->


	<!-- Cards -->
	<div class="container">

		<!-- Row 1 -->
		<div class="row">

			<!-- Card Deck 1 -->
			<div class="card-deck" id="master">

				<!-- Proof -->
				<div class="card">
  					<img class="card-img-top" src="images/proof-logo.png" alt="Proof">
  					<div class="card-body">
	    				<h4 class="card-title">Proof Brewing Company</h4>
	    				<p class="card-text">Proof Brewing Company is Tallahassee’s First and Largest Independently-Owned Production Brewery.
                                                Founded in 2012, Proof prides itself on being an industry leader of innovative beers.
                                                Proof produces big, bold, flavorful beers and remains committed to true artisanal brewing methods in an evolving industry.</p>
	    				<a href="/proof" class="btn btn-primary">See More</a>
	  				</div>
				</div>
				<!-- End Proof -->

       			<!-- GrassLands -->
				<div class="card">
	  				<img class="card-img-top" src="images/grasslands-logo.jpg" alt="GrassLands">
	  				<div class="card-body">
		    			<h4 class="card-title">GrassLands Brewing Company</h4>
		    			<p class="card-text">Craft. Community. Conservation.<br>
                                                GrassLands Brewing Company cares about what goes into their beer, how it's made and what it represents. GrassLands is about minimizing their carbon footprint,
                                                using 100% natural ingredients (organic and local whenever possible), and staying heavily engaged in the local community. </p>
		    			<a href="/grasslands" class="btn btn-primary">See More</a>
		  			</div>
				</div>
				<!-- End GrassLands -->

			</div>
			<!-- End Card Deck 1 -->

		</div>
		<!-- End Row 1 -->


		<!-- Row 2 -->
		<div class="row mt-4">

			<!-- Card Deck 2 -->
			<div class="card-deck">
				<!-- DEEP -->
				<div class="card">
  					<img class="card-img-top" src="images/deep-logo.jpg" alt="Deep">
  					<div class="card-body">
	    				<h4 class="card-title">DEEP Brewing Company</h4>
	    				<p class="card-text">Deep Brewing Company artfully crafts the finest small batch ales and lagers in our hometown of Tallahassee, FL.
                                                Their passion for the finite depths of the world's oceans is surpassed only by their desire to explore the infinite depths of beer flavor and aroma.
                                                Deep Brewing pays homage to historic European and American styles while diving headlong into an unknown sea of possibilities.</p>
	    				<a href="/deep" class="btn btn-secondary">See More</a>
	  				</div>
				</div>
				<!-- End DEEP -->

       			<!-- Ology -->
				<div class="card">
	  				<img class="card-img-top" src="images/ology-logo.png" alt="Ology">
	  				<div class="card-body">
		    			<h4 class="card-title">Ology Brewing Company</h4>
		    			<p class="card-text">Ology Brewing Company an experimental brewery. They create small batch ales that let the wild, funky and maddening flavors of beer converge.
                                                Ology believes that microbes are magical and taste is transcendent.
                                                They constantly work to revive old-world recipes, research ingredient combinations and experiment with new techniques to give you a higher quality beer experience.</p>
		    			<a href="/ology" class="btn btn-secondary">See More</a>
		  			</div>
				</div>
       			<!-- End Ology -->

			</div>
			<!-- End Card Deck 2 -->
		</div>
		<!-- End Row 1 -->
	</div>
	<!-- End Container -->
</main>

<% include partials/footer.ejs %>
