<% include partials/header.ejs %>
<% include partials/logoutnav.ejs %>


<main role="main">

	<!-- Jumbotron -->
   <section class="jumbotron pb-0">
        	<h1 class="display-4">Master List</h1><hr>
   	</section>
   	<!-- End Jumbotron -->


	<!-- Cards -->
	<div class="container">

		<!-- Row 1 -->
		<div class="row">

			<!-- Card Deck 1 -->
			<div class="card-deck">

				<!-- Proof -->
				<div class="card">
  					<img class="card-img-top" src="images/proof-logo.png" alt="Proof">
  					<div class="card-body">
	    				<h4 class="card-title">Proof Brewing Company</h4>
	    				<p class="card-text">Proof Brewing Company is Tallahassee’s First and Largest Independently-Owned Production Brewery</p>
	    				<a href="/proof" class="btn btn-primary">See More</a>
	  				</div>
				</div>
				<!-- End Proof -->

       			<!-- GrassLands -->
				<div class="card">
	  				<img class="card-img-top" src="images/grasslands-logo.jpg" alt="GrassLands">
	  				<div class="card-body">
		    			<h4 class="card-title">GrassLands Brewing Company</h4>
		    			<p class="card-text"> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    			<a href="/grasslands" class="btn btn-primary">See More</a>
		  			</div>
				</div>
				<!-- End GrassLands -->

			</div>
			<!-- End Card Deck 1 -->

		</div>
		<!-- End Row 1 -->


		<!-- Row 2 -->
		<div class="row mt-4">

			<!-- Card Deck 2 -->
			<div class="card-deck">
				<!-- DEEP -->
				<div class="card">
  					<img class="card-img-top" src="images/deep-logo.jpg" alt="Deep">
  					<div class="card-body">
	    				<h4 class="card-title">DEEP Brewing Company</h4>
	    				<p class="card-text"> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    				<a href="/deep" class="btn btn-secondary">See More</a>
	  				</div>
				</div>
				<!-- End DEEP -->

       			<!-- Ology -->
				<div class="card">
	  				<img class="card-img-top" src="images/ology-logo.png" alt="Ology">
	  				<div class="card-body">
		    			<h4 class="card-title">Ology Brewing Company</h4>
		    			<p class="card-text"> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    			<a href="/ology" class="btn btn-secondary">See More</a>
		  			</div>
				</div>
       			<!-- End Ology -->

			</div>
			<!-- End Card Deck 2 -->
		</div>
		<!-- End Row 1 -->
	</div>
	<!-- End Container -->
</main>

<% include partials/footer.ejs %>
