<% include partials/header.ejs %>
<% include partials/simplenav.ejs %>

<main role="main">
    <section class="jumbotron">
        <div class="container">

            <!-- Sign Up Form -->
            <form class="signup" id ="create-form" method="get" action="/master">

                <!-- Row 1 -->
                <div class="row">

                    <!-- Column 1 -->
                    <div class="col-sm-6">
                        <br> <h3>Personal Info</h3> <hr>

                                <label for="firstname">First Name: </label>
                                <input type="firstname" class="form-control mb-3" id="firstname" placeholder="First Name" required />

                                <label for="lastname">Last Name: </label>
                                <input type="lastname" class="form-control mb-3" id="lastname" placeholder="Last Name" required />

                                <label for="email">Email Address: </label>
                                <input type="email" class="form-control mb-3" id="email" placeholder="email@example.com" name="email" required />
                    </div>
                    <!-- End Column 1 -->


                    <!-- Column 2 -->
                    <div class="col-sm-6">
                        <br> <h3>Account Info</h3> <hr>

                                <label for="username">Username: </label>
                                <input type="username" class="form-control mb-3" id="username" placeholder="Username" required />

                                <label for="password">Password: </label>
                                <input type="password" class="form-control mb-3" id="password" placeholder="Password" name="password" required />

                            <div class="form-group">
                                <label for="file">Upload a Profile Photo: </label> <br>
                                <input type="file" id="file">
                            </div>
                    </div>
                    <!-- End Column 2 -->
                </div>
                <!-- End Row 1 -->


                <!-- Row 2 -->
                <div class="row justify-content-center">
                    <!-- Terms and Conditions Checkbox-->
                    <div class="checkbox">
                            <input type="checkbox" class="mr-2" required >I agree to the Terms and Conditions
                    </div>
                </div>
                <!-- End Row 2 -->

                <!-- Row 3 -->
                <div class="row justify-content-center mt-3">
                    <!-- Sign Up & Cancel Buttons -->
                    <div class="btn-toolbar">
                            <button type="submit" class="btn btn-secondary mr-2">Sign Up</button>
                    </div>

    </form>
    <!-- End Form -->
                    <form method="get" action="/">
                        <button class="btn btn-secondary">Return</button>
                    </form>
                </div>
            <!-- End Row 3 -->

    </section>
</main>
<% include partials/footer.ejs %>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAcIMW1HXU3OC9-ZfC06Dc5fu7b7pjXL1Q",
    authDomain: "tallahassee-brews.firebaseapp.com",
    databaseURL: "https://tallahassee-brews.firebaseio.com",
    projectId: "tallahassee-brews",
    storageBucket: "tallahassee-brews.appspot.com",
    messagingSenderId: "144546056897"
  };
  firebase.initializeApp(config);
  function alertEvent(event) {

      event.preventDefault();

      const form = event.target;
      const email = form.email.value;
      const password = form.password.value;

      firebase.auth().createUserWithEmailAndPassword(email, password)
          .then(function (response) {
              alert("user Created");
              window.location='master';
          })
          .catch(function (error) {
              alert(error);
          });


      let params = {email: email, password: password};
  }
document.querySelector('#create-form').addEventListener('submit', alertEvent);

</script>
